.hero {
  max-width: 480px;

  background-image: url("/img/hero/hero-mobile-x1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  & > .container {
    padding-top: 208px;
    padding-right: 31px;
    padding-bottom: 183px;
    padding-left: 31px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("/img/hero/hero-mobile-x2.jpg");
  }
}
.hero-text_top {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  max-width: 306px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: "";
    display: block;
    margin-right: 20px;

    width: 60px;
    height: 1px;

    background-color: currentColor;
  }
}

.hero-title {
  margin-bottom: 20px;

  max-width: 306px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  color: $bg-color-white;
}

.hero-text_bottom {
  max-width: 306px;

  font-size: 16px;
  line-height: 1.6;

  color: #9da4bd;
}
